form, input, body{
    margin: 0;
}
ul{
    list-style-type: none;
    width: 100%;
    box-sizing: border-box;
}
li{
    display: flex;
    margin-bottom: 70px;
}
span{
    font-style: normal;
    font-weight: 600;
    font-size: 205px;
    line-height: 170px;
    margin-right: 30px;
}
p{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
}
h2{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
}
button{
    cursor: pointer;
}
.button__tasks{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 30px auto;
    font-weight: 700;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    border: none;
}
.button__tasks:hover { 
    background: rgb(53, 167, 110); 
}
.button__tasks:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}

.button__search {
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(68,68,68);
    text-decoration: none;
    user-select: none;
    padding: 5px 10px;
    outline: none;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 2px;
    background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
    transition: all .218s ease 0s;
  }
.button__search:hover {
    color: rgb(24,24,24);
    border: 1px solid rgb(198,198,198);
    background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
  }
.button__search:active {
    color: rgb(51,51,51);
    border: 1px solid rgb(204,204,204);
    background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
  }

.form{
    margin-left: 40px;
}
input{
    font-family: arial,sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: rgb(68,68,68);
    padding: 5px 0 5px 15px;
}

#images{
    display: flex;
    flex-wrap: wrap;
}
.img{
    display: flex;
    width: 500px;
    margin-right: 20px;
}